name: Build and deploy React app to Azure Web App - app-asia-agro-silage-dev0suc-fe

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build React
        run: npm run build

      - name: Zip build output
        run: |
          cd dist
          zip -r ../build.zip .
        # if CRA: replace dist with build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: react-build
          path: build.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: react-build

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A3ADD66EB4184C57AA7EE2802610BEEA }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_32EFA0BCB07D4A548BAC7950881CEDC5 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7540EDEFB8F04A1BBB5B59E13A003970 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: app-asia-agro-silage-dev0suc-fe
          slot-name: Production
          package: build.zip
